@page "/cadastrarConcurso"
@using AppConcurso.Models
@using AppConcurso.Controllers
@inject ConcursoController concursoController
@inject NavigationManager navigationManager

<h3>Cadastro de Concurso</h3>

<div class="container">
    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>

    <div class="row align-items-start">
        <div class="col">
            <div class="mb-3">
                <label for="edital" class="form-label">Edital:</label>
                <input @bind="concurso.Edital" type="text" class="form-control" id="edital">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="dataConcurso" class="form-label">Data do Concurso:</label>
                <input @bind="concurso.DataConcurso" type="date" class="form-control" id="dataConcurso">
            </div>
        </div>
    </div>

    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>

    <nav class="navbar navbar-light" style="background-color: white"></nav>

    @if (enabledButton)
    {
        <button type="button" class="btn btn-warning" @onclick="Cancelar">CANCELAR</button>
        <button type="button" class="btn btn-success" @onclick="Salvar">SALVAR</button>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            Cadastro realizado com sucesso!
        </div>
        <button type="button" class="btn btn-primary" @onclick="NovoCadastroConcurso">NOVO CADASTRO</button>
    }
</div>

@code {
    private Concurso concurso = new Concurso();
    private bool enabledButton = true;

    private async Task Salvar()
    {
        await concursoController.Add(concurso);
        await concursoController.Salvar();
        enabledButton = false;
        navigationManager.NavigateTo("/cadastrarConcurso");
    }

    private void Cancelar()
    {
        navigationManager.NavigateTo("/cadastrarConcurso");
    }

        public void NovoCadastroConcurso()
        {
        navigationManager.NavigateTo("/cadastrarConcurso", forceLoad: true);
    }
}
