@page "/"

<PageTitle>Gestão de Concursos</PageTitle>

<div class="container text-center mt-5">
    <h1 class="text-success fw-bold">Bem-vindo ao Sistema de Gestão de Concursos</h1>
    <p class="lead">Gerencie inscrições, notas e resultados de concursos de forma simples e eficiente.</p>
    <img src="/computador3d.jpg" alt="Computador" class="full-screen-img">
</div>
